* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.field.has-addons {
  justify-content: center;
}

.list-item {
  background: #00d1b2;
  padding: 8px 15px;
  border-radius: 5px;
  color: #fff;
  margin: 20px 0px;
}

.delete {
  float: right;
}